GENEL KISA Ã–ZET

In [61]:
#### variables ####

x = 5               # int
y = 3.14            # float
z = "Hello"         # string
t = "c"             # string (not a char )
f = True            # bool
l = [12,14,24,567]  # list ( as an array in the C )
p = (1,2,4,5)       # tuple ( constat list )
k = {               # dictionary ( as an struct in the C )
    "isim"    : "ibo",
    "soyisim" : "isikli",
    "yas"     : "24"
}  

print("type of x {}".format(type(x)))
print("type of y {}".format(type(y)))
print("type of z {}".format(type(z)))
print("type of t {}".format(type(t)))
print("type of f {}".format(type(f)))
print("type of l {}".format(type(l)))
print("type of p {}".format(type(p)))
print("typde of k {}".format(type(k)))

type of x <class 'int'>
type of y <class 'float'>
type of z <class 'str'>
type of t <class 'str'>
type of f <class 'bool'>
type of l <class 'list'>
type of p <class 'tuple'>
type of k <class 'dict'>

In [29]:
#### print func ####

print("hello world")
print("hello mars\tHello neptun")
print("hello moon\nhello uranus\n")

int_number =24
print("value of int_number = {} ".format(int_number))

str_test = "elma karpuz"
print("string is = {}".format(str_test))

print("Im {0} and {1}".format("ibrahim",24))
print("Im {name} and {age}".format(name="ibrahim",age=24))

hello world
hello mars	Hello neptun
hello moon
hello uranus

value of int_number = 24
string is = elma karpuz
Im ibrahim and 24
Im ibrahim and 24

In [7]:
#### input func ####

users_age = 0
print("Can you tell me yours age ?\n")
users_age=input()
print("answer -> {}".format(users_age))

Can you tell me yours age ?

 243

answer -> 243

In [13]:
#### typecasting ####

float_value = 24.35
convert_int = int(float_value)
print(convert_int)

int_value = 23
convert_float = float(int_value)
print(convert_float)

24
23.0

In [25]:
#### if else elif ####

num1 = int(input())

if num1 > 6:
    print("{} greater than 6".format(num1))
elif num1 < 6:
    print("{} less than 6".format(num1))
else:
    print("{} equals 6".format(num1))

 24

24 greater than 6

In [59]:
#### range ####

print(range(5)) # range(5) = 0 1 2 3 4 

print(range(5)[0])
print(range(5)[1])
print(range(5)[2])
print(range(5)[3])
print(range(5)[4])

# print(range(5)[5]) error

# range(5)[3] = 6    error (not support assignment)

print( [*range(0,5)]  )
print( [*range(0,100,2)]  ) # start,end,two by two

range(0, 5)
0
1
2
3
4
[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [77]:
#### for ####

for n in range(5):
    print(n)

print("---------------------------------------")


for m in range(3,10):  
    print(m)

print("---------------------------------------")

list_test = ["a","b","c","d","e"]

for char_test in list_test:
    print(char_test)

0
1
2
3
4
---------------------------------------
3
4
5
6
7
8
9
---------------------------------------
a
b
c
d
e

In [79]:
### while ###

i = 0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

In [84]:
### func ###

def sum(a,b):
    return a+b

user_num1 = float(input())
user_num2 = float(input())

print("sum result : {} ".format(sum(user_num1,user_num2)))

 23
 45

sum result : 68.0

In [1]:
# test deneme 1 2 3